@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", serif;

}

.style-new{
  font-family: "Playwrite AU SA", serif;

}

.pagination{
  text-align: center;
  margin-bottom: 40px;
}
.pagination button{
  margin-right: 10px;
}
.pagination .selected {
  background-color: orange;
}
.varela{
  font-family: "Varela Round", serif;

}